---
layout: default
title: Home
---
<ul class="unstyled">
{% for post in site.posts limit: 10 %}
    <li>
        <div class="page-header">
            <h3>
                <a href="{{ post.url }}">{{ post.title }}</a><br/>
                <small>on {{ post.date | date: "%Y/%m/%d" }}</small>
            </h3>
        </div>
        <div>{{ post.content }}</div>
        <div class="post-separator"></div>
    </li>
{% endfor %}
</ul>
<!-- <strong>Categories:</strong>
<ul>
{% for category in site.categories %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul> -->