code, pre {
    font-size:10px;
    line-height:150%;
    background-color: #EAEAEA;
}
.main-title,
.main-title:hover,
.menu a,
.menu a:hover,
.twitter_follow_link,
.twitter_follow_link:hover {
    color: #404040;
    text-decoration: none;
}
h1.main-title, div.main-title {
    margin-bottom:10px;
}
.main-content {
    margin:10px;
}
.post-img {
    max-width:150px;
    max-height:150px;
    padding:15px;
}
.float-right {
    float:right;        
}
.float-left {
    float:left;        
}
.footer {
    text-align:center;
    margin:0px auto;
}
.twitter_bird_icon {
    vertical-align:middle;
}
.post-separator {
    padding-top:25px;
}
.page-header {
    margin-bottom:10px;
}
.tooltips {
    display:none;    
}
.menu_icon {
    vertical-align:middle;
    margin-bottom:4px;
    padding-right:5px;
}
.menu_icon_title {
    padding-right:6px;
    margin-bottom:-3px;
}
#home-tooltip {
    margin:0px 30px;
}
#menu_title-tooltip {
    margin-left:-25px;
}
