code, pre {
    font-size:10px;
    line-height:150%;
    background-color: #EAEAEA;
}
.main-title,
.main-title:hover {
    color: #404040;
    text-decoration: none;
}
.main-content {
    margin:10px;
}
.post-img {
    max-width:150px;
    max-height:150px;
    padding:15px;
}
.float-right {
    float:right;        
}
.float-left {
    float:left;        
}
.footer {
    text-align:center;
}
.twitter_follow_link,
.twitter_follow_link:hover {
    color: #404040;
    text-decoration: none;
}
.twitter_bird_icon {
    vertical-align:middle;
}
.post-separator {
    padding-top:25px;
}
.page-header {
    margin-bottom:10px;
}
.tooltips {
    display:none;    
}
#home-tooltip {
    margin:0px 30px;
}
