body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

.main_container {
    position: relative;
    top: 0;
}

.bgtext_container {
    position: absolute;
    width: 70%;
    overflow: hidden;
    z-index: -9000;
}

.bgtext_container:after {
    margin-left: 50px;
    color: rgba(255, 255, 255, .15);
    content: attr(data-code);
    font-size: 13px;
    font-family: monospace;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    white-space: pre;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.bgtext_container_right {
    right: 0;
    width: 30%;
}

a.banner:hover {
    text-decoration: none;
}

div.banner {
    margin: 15px 0;
    white-space: nowrap;
    padding: 0 19px;
}

.banner > h1 > span {
    color: #366ddc;
}

.banner > h1 > img {
    margin-right: 10px;
    padding-bottom: 5px;
}

div.post-title {
    margin: 0;
}

.post-title > h3 > a {
    color: #333;
}

.nav-header {
}

.nav > li > a {
    font-size: 14px;
    padding-left: 10px;
    color: #333;
    tab-size: 14px;
    font-weight: bold;
}

#search_field {
    width: 146px;
}

#search_container, #search_result_template, #no_result_message {
    display: none;
}

.post-img {
    max-width: 150px;
    max-height: 150px;
    padding: 0 15px 15px 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.post-title {
    padding-bottom: 0;
}

.post_tag:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 10px;
}

div.below_fold {
    display: none;
}

a.read_more {
    display: none;
}