a.banner:hover {
    text-decoration: none;
}

div.banner {
    margin: 15px 0;
    white-space: nowrap;
}

.banner > h1 > span {
    color: #366ddc;
}

.banner > h1 > img {
    margin-right: 10px;
    padding-bottom: 5px;
}

div.post-title {
    margin: 0;
}

.post-title > h3 > a {
    color: #333;
}

.nav-header {
}

.nav > li > a {
    font-size: 14px;
    padding-left: 10px;
    color: #333;
    tab-size: 14px;
    font-weight: bold;
}

#search_field {
    width: 146px;
}

#search_container, #search_result_template, #no_result_message {
    display: none;
}

.post-img {
    max-width: 150px;
    max-height: 150px;
    padding: 0 15px 15px 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.post-title {
    padding-bottom: 0;
}

.post_tag:hover {
    cursor: pointer;
    text-decoration: underline;
}

ul ul,ul ol,ol ol,ol ul{
	margin-bottom:10px;
}