a.banner:hover {
    text-decoration: none;
}

div.banner {
    margin: 15px 0;
	white-space:nowrap;
}
.banner > h1 > span {
	color:#366ddc;
}

.banner > h1 > img {
	margin-right:10px;
	padding-bottom:5px;	
}

div.post-title {
    margin: 0;
}

.nav-header {
}

.nav .nav-header {
    font-size: 12px;
    padding-left: 10px;
    color: #727272;
    font-size: 13px;
}

.nav > li > a {
    font-size: 12px;
    padding-left: 20px;
}

#search_field {
    width: 80%;
}

#search_container, #search_result_template, #no_result_message {
    display: none;
}

.post-img {
    max-width: 150px;
    max-height: 150px;
    padding: 0 15px 15px 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.post-title {
    padding-bottom: 0;
}
